header .navbar-nav .megamenu {
    left: -40vw;
}

.btn-link {
    --bs-btn-color: var(--bs-light);
}

.text-shadow {
  text-shadow: 2px 2px 4px rgb(57, 56, 60); 
}

body::-webkit-scrollbar {
  width: 12px; /* Slightly wider for better visibility */
}

body::-webkit-scrollbar-track {
  background: rgba(126, 125, 125, 0.8); /* Semi-transparent for softer look */
}

body::-webkit-scrollbar-thumb {
  background: #d4d1d4;
  border-radius: 5px; /* Slightly more rounded corners */
}

body::-webkit-scrollbar-thumb:hover {
  background: #b4b4b6;
  cursor: pointer; /* Change cursor to indicate it's draggable */
}