header .navbar-nav .megamenu {
    left: -40vw;
}

.btn-link {
    --bs-btn-color: var(--bs-light);
}

.text-shadow {
  text-shadow: 2px 2px 4px rgb(57, 56, 60); 
}

body::-webkit-scrollbar {
  width: 12px; /* Slightly wider for better visibility */
}

body::-webkit-scrollbar-track {
  background: rgba(126, 125, 125, 0.8); /* Semi-transparent for softer look */
}

body::-webkit-scrollbar-thumb {
  background: #d4d1d4;
}

body::-webkit-scrollbar-thumb:hover {
  background: #b4b4b6;
  cursor: pointer; /* Change cursor to indicate it's draggable */
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(142, 141, 141, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader {
  border: 4px solid #f3f3f3; 
  border-top: 4px solid #3498db; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}